body{
    background-color: rgb(33, 34, 48);
}

.game-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1vh;
}
  
.game{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game5{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.selectorBoxes{
    width: 11rem;
    height: 3vw;
    max-width: 300px;
    max-height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #282c34;
    color: white;
    font-size: 1em;
}

.logoIMG{
    max-height: 6rem;
    max-width: 8rem;
}

.choiceButtons{
    margin: 5px;
    height: 3vw;
    max-width: 300px;
    max-height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #000000;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.inputCell{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 45%;
    border-radius: 1rem;
    background-color: rgb(32, 46, 75);
}

#guessBoxes{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}

.guessButtons{
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    background-color: rgb(32, 46, 75);
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 2rem;
}

#oneoneinputcell, #onetwoinputcell, #onethreeinputcell, #twooneinputcell, #twotwoinputcell, #twothreeinputcell, #threeoneinputcell, #threetwoinputcell, #threethreeinputcell{
    display: none;
    background-color: green;
}