body{
    background-color: rgb(2, 25, 46);
    overflow: hidden;
}

.mobilegame-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1vh;
}
  
.mobilegame{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobileselectorBoxes{
    width: 5rem;
    height: 2rem;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    border: none;
    border-radius: 7px;
    background-color: rgb(12, 42, 70);
    color: white;
    word-wrap: break-word;
}

.mobilelogoIMG{
    max-height: 5rem;
    max-width: 5rem;
}

.mobilechoiceButtons{
    margin: 5px;
    max-width: 300px;
    max-height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #000000;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.mobileinputCell{
    color: white;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 10%;
    border-radius: 1rem;
    background-color: rgb(12, 42, 70);
}

#mobileguessBoxes{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}

.mobileguessButtons{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 1rem;
    background-color: rgb(12, 42, 70);
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 1rem;
}



#mobileoneoneinputcell, #mobileonetwoinputcell, #mobileonethreeinputcell, #mobiletwooneinputcell, #mobiletwotwoinputcell, #mobiletwothreeinputcell, #mobilethreeoneinputcell, #mobilethreetwoinputcell, #mobilethreethreeinputcell{
    display: none;
}

#mobiletopleftstat,#mobiletopmiddlestat,#mobiletoprightstat,#mobilelefttopstat,#mobileleftmiddlestat,#mobileleftbottomstat{
    max-width: 5rem;
    max-height: 5rem;
    color: white;
    font-size: .85rem;
}